In [1]:
#201.
def print_coin():
    print('비트코인')
print_coin()

비트코인

In [2]:
#202.
print_coin()

비트코인

In [3]:
#203.
for _ in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [5]:
#204.
def print_coins():
    for _ in range(100):
        print('비트코인')
print_coins()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [6]:
#205.
hello()
def hello():
    print('Hi')
# 함수가 정의되기 전에 호출되어서 에러가 발생

NameError: name 'hello' is not defined

In [7]:
#206.
def message():
    print("A")
    print("B")
message()
print('C')
message()

A
B
C
A
B

In [8]:
#207.
print("A")

def message() :
    print("B")

print("C")
message()
#A
#C
#B

A
C
B

In [9]:
#208.
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()
#A
#C
#B
#E
#D

A
C
B
E
D

In [10]:
#209.
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()
#B
#A

B
A

In [11]:
#210.
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

#B
#c
#B
#C
#B
#C
#A

B
C
B
C
B
C
A

In [1]:
#211.
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")
#안녕
#Hi

안녕
Hi

In [2]:
#212.
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)
#7
#15

7
15

In [3]:
#213.
def 함수(문자열) :
    print(문자열)
함수()
# 함수에 정의와 다르게 함수를 호출하고 있다. 함수를 호출할 때 하나의 파라미터를 입력해야한다.

TypeError: 함수() missing 1 required positional argument: '문자열'

In [4]:
#214.
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
#함수 인자 a 위치에 문자열이 아니라 실수를 줘야 한다.

TypeError: can only concatenate str (not "int") to str

In [5]:
#215.
def print_with_smile(a):
    print(a+':D')

In [6]:
#216.
print_with_smile('안녕하세요')

안녕하세요:D

In [7]:
#217.
def print_sum(a):
    print(a*1.3)

In [8]:
#218.
def print_sum(a,b):
    print(a+b)

In [9]:
#219.
def print_arithmetic_operation(a,b):
    print(a+b)
    print(a-b)
    print(a*b)
    print(a/b)
print_arithmetic_operation(3,4)

7
-1
12
0.75

In [10]:
#220.
def print_max(a,b,c):
    max_v = 0
    if a>max_v:
        max_v = a
    if b>max_v:
        max_v = b
    if c>max_v:
        max_v = c
    print(max_v)
print_max(3,-3,7)

7

In [1]:
#221.
def print_reverse(a):
    print(a[::-1])
print_reverse('python')

nohtyp

In [2]:
#222.
def print_score(a):
    print(sum(a)/len(a))
print_score([1,2,3])

2.0

In [7]:
#223.
def print_even(a):
    for i in a:
        if i%2!=0:
            continue
        else:
            print(i)
print_even([1,3,2,10,12,11,15])

2
10
12

In [9]:
#224.
def print_keys(a):
    for k in a.keys():
        print(k)
print_keys({"이름":"김말똥", "나이":30, '성별':0})

이름
나이
성별

In [13]:
#225.
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
def print_value_by_key(a,b):
    for i in a.keys():
        if i == b:
            print(a[i])
print_value_by_key(my_dict,"10/26")

[100, 130, 100, 100]

In [15]:
#226.
def print_5xn(a):
    i = int(len(a)/5)
    for x in range(i+1):
        print(a[x*5:x*5+5])
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [16]:
#227
def print_mxn(a,b):
    i = int(len(a)/b)
    for x in range(i+1):
        print(a[x*b:x*b+b])
print_mxn('아이엠어보이유알어걸',3)

아이엠
어보이
유알어
걸

In [18]:
#228.
def cal_monthly_salary(a):
    pay = int(a/12)
    return pay
print(cal_monthly_salary(12000000))

1000000

In [19]:
#229.
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [20]:
#230.
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

In [1]:
#231
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)
# 함수 내부에서 사용한 변수는 함수 밖에서는 접근이 불가능하다.
# 함수 내부에서 계산한 값을 전달하기 위해서는 return을 사용해야한다

NameError: name 'result' is not defined

In [2]:
#232.
def make_url(a):
    url = 'www.'+a+'.com'
    return url
make_url('naver')

'www.naver.com'

In [3]:
#233.
def make_list(a):
    list_a = []
    for i in a:
        list_a.append(i)
    return list_a
make_list('abcd')

['a', 'b', 'c', 'd']

In [4]:
#234.
def pickup_even(a):
    list_a=[]
    for i in a:
        if i%2==0:
            list_a.append(i)
    return list_a
pickup_even([3,4,5,6,7,8])

[4, 6, 8]

In [5]:
#235.
def convert_int(a):
    return int(a.replace(',',''))
convert_int('1,234,567')

1234567

In [6]:
#236.
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)
#22

22

In [8]:
#237.
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)
#22

22

In [9]:
#238.
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10) # 14
c = 함수2(a)  # 140
print(c)

140

In [10]:
#239.
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)#16

16

In [11]:
#240.
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)#28

28

In [16]:
#241.
import datetime
a=datetime.datetime.now()
print(a)

2022-06-12 23:23:32.036963

In [17]:
#242.
import datetime
a=datetime.datetime.now()
print(a,type(a))

2022-06-12 23:27:40.071986 <class 'datetime.datetime'>

In [1]:
#243.
import datetime

now = datetime.datetime.now()

for i in range(5,0,-1):
    delta = datetime.timedelta(days=i)
    date = now - delta
    print(date)

2022-06-08 11:13:39.328517
2022-06-09 11:13:39.328517
2022-06-10 11:13:39.328517
2022-06-11 11:13:39.328517
2022-06-12 11:13:39.328517

In [4]:
#244.
import datetime

now = datetime.datetime.now()

today_date = now.strftime("%H:%M:%S")
print(today_date)

11:16:00

In [11]:
#245.
import datetime

day = "2020-05-04"
a = datetime.datetime.strptime(day,'%Y-%m-%d')
print(a,type(a))

2020-05-04 00:00:00 <class 'datetime.datetime'>

In [15]:
#246.
import time
import datetime
while(1):
    now = datetime.datetime.now()
    print(now)
    time.sleep(1)

2022-06-13 11:19:30.073146
2022-06-13 11:19:31.076886
2022-06-13 11:19:32.077639
2022-06-13 11:19:33.082159
2022-06-13 11:19:34.083136
2022-06-13 11:19:35.087505
2022-06-13 11:19:36.092453
2022-06-13 11:19:37.097631
2022-06-13 11:19:38.101684
2022-06-13 11:19:39.101930
2022-06-13 11:19:40.106333
2022-06-13 11:19:41.108475
2022-06-13 11:19:42.111887
2022-06-13 11:19:43.115223
2022-06-13 11:19:44.118545

KeyboardInterrupt:

### 247
모듈을 임포트하는 4가지 방식에 대해 설명해보세요.

-  1. import 모듈명
-  2. from 모듈명 import 함수명
-  3. from 모듈명 import *
-  4. import 모듈명 as 내가 사용할 이름

In [16]:
#248.
import os
a = os.getcwd()
print(a,type(a))

/Users/jeongjiwon/python300 <class 'str'>

In [17]:
#249.
import os
os.rename("/Users/jeongjiwon/1.txt","/Users/jeongjiwon/1-1.txt")

In [21]:
#250.
import numpy as np

a = np.arange(0,5,0.1)
print(a)
for i in np.arange(0.0,0.5,0.1):
    print(i)

[0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1.  1.1 1.2 1.3 1.4 1.5 1.6 1.7
 1.8 1.9 2.  2.1 2.2 2.3 2.4 2.5 2.6 2.7 2.8 2.9 3.  3.1 3.2 3.3 3.4 3.5
 3.6 3.7 3.8 3.9 4.  4.1 4.2 4.3 4.4 4.5 4.6 4.7 4.8 4.9]
0.0
0.1
0.2
0.30000000000000004
0.4

### 251.
- 클래스 : 어떤 틀. 객체를 정의하고 만들기 위한 변수와 메서드의 집합
- 객체  : 이런  틀에  의해서 만들어진 하나하나의 와플은 객체
- 인스턴스 : 클래스(class)의 객체(object)가 소프트웨어에 실체화되면 이제 그것을 인스턴스(instance)라고 부릅니다.

In [1]:
#252.
class Human:
    pass

In [3]:
#253.
class Human:
    pass
areum = Human()

In [4]:
#254.
class Human:
    print('응애응애')
areum = Human()

응애응애

In [5]:
#255.
class Human:
    def __init__(self,name,age,sex):
        self.name = name
        self.age = age
        self.sex = sex
areum = Human('아름',25,'여자')

In [6]:
#256.
class Human:
    def __init__(self,name,age,sex):
        self.name = name
        self.age = age
        self.sex = sex
areum = Human('아름',25,'여자')
print(areum.age)

25

In [8]:
#257.
class Human:
    def __init__(self,name,age,sex):
        self.name = name
        self.age = age
        self.sex = sex
    def who(self):
        print("이름:",self.name)
        print('나이:',self.age)
        print('성별:',self.sex)
areum = Human('조아름',25,'여자')
areum.who()

이름: 조아름
나이: 25
성별: 여자

In [11]:
#258.
class Human:
    def __init__(self,name,age,sex):
        self.name = name
        self.age = age
        self.sex = sex
    def who(self):
        print("이름:",self.name)
        print('나이:',self.age)
        print('성별:',self.sex)
    def setInfo(self,name,age,sex):
        self.name = name
        self.age = age
        self.sex = sex
areum = Human("모름", 0, "모름")
areum.who()
areum.setInfo("아름", 25, "여자")
areum.who()

이름: 모름
나이: 0
성별: 모름
이름: 아름
나이: 25
성별: 여자

In [9]:
#259.
class Human:
    def __init__(self,name,age,sex):
        self.name = name
        self.age = age
        self.sex = sex
    def __del__(self):
        print("나의 죽음을 알리지마라")
areum = Human('아름',25,'여자')
del areum

나의 죽음을 알리지마라

In [2]:
#260.
class OMG : 
    def print() :
        print("Oh my god")
myStock = OMG()
myStock.print()

TypeError: print() takes 0 positional arguments but 1 was given

In [3]:
#261
class Stock:
    pass

In [4]:
#262.
class Stock:
    def __init__(self,name,number):
        self.name = name
        self.number = number
삼성 = Stock('삼성전자','005930')

In [5]:
#263.
class Stock:
    def __init__(self,name,number):
        self.name = name
        self.number = number
    def set_name(self,name):
        self.name = name
a = Stock(None,None)
a.set_name('삼성전자')
print(a.name)

삼성전자

In [6]:
#264.
class Stock:
    def __init__(self,name,number):
        self.name = name
        self.number = number
    def set_code(self,number):
        self.number = number
a = Stock(None,None)
a.set_code('005930')
print(a.number)

005930

In [10]:
#265.
class Stock:
    def __init__(self,name,number):
        self.name = name
        self.number = number
    def get_name(self):
        return self.name
    def get_code(self):
        return self.number
삼성 = Stock("삼성전자", "005930")
print(삼성.name)
print(삼성.number)
print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930
삼성전자
005930

In [11]:
#266.
class Stock:
    def __init__(self, name, code, per, pbr, 배당수익률):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code

In [12]:
#267.
class Stock:
    def __init__(self, name, code, per, pbr, 배당수익률):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code
a = Stock('삼성전자','005930',15.79,1.33,2.83)
print(a.배당수익률)

2.83

In [13]:
#268.
class Stock:
    def __init__(self, name, code, per, pbr, dividend):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.dividend = dividend

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code
    
    def set_per(self,per):
        self.per = per
        
    def ser_pbr(self,pbr):
        self.pbr = pbr
        
    def set_dividend(self,dividend):
        self.dividend =dibidend

In [15]:
#269.
a = Stock('삼성전자','005930',15.79,1.33,2.83)
a.set_per(12.75)
print(a.per)

12.75

In [16]:
#270.
class Stock:
    def __init__(self, name, code, per, pbr, dividend):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.dividend = dividend

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code
    
    def set_per(self,per):
        self.per = per
        
    def ser_pbr(self,pbr):
        self.pbr = pbr
        
    def set_dividend(self,dividend):
        self.dividend =dibidend

a = Stock('삼성전자','005930',15.79,1.33,2.83)
b = Stock('현대차','005380',8.70,0.35,4.27)
c = Stock('LG전자','066570',317.34,0.69,1.37)
list_a = []
list_a.append(a)
list_a.append(b)
list_a.append(c)
for i in list_a:
    print(i.code,i.per)

005930 15.79
005380 8.7
066570 317.34

In [1]:
#271.
import random
class Account:
    def __init__(self,name,balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'
        num1 = random.randint(0,999)
        num2 = random.randint(0,99)
        num3 = random.randint(0,999999)
        
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        
        self.account_number = num1 + '-' + num2 + '-' + num3

a = Account('정지원',100)
print(a.name)
print(a.balance)
print(a.bank)
print(a.account_number)

정지원
100
SC은행
365-88-084918

In [23]:
#272.
import random
class Account:
    # class variable
    account_cnt = 0
    
    def __init__(self,name,balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'
        num1 = random.randint(0,999)
        num2 = random.randint(0,99)
        num3 = random.randint(0,999999)
        
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        
        self.account_number = num1 + '-' + num2 + '-' + num3
        
        Account.account_cnt += 1

a = Account('정지원',100)
print(a.name)
print(a.balance)
print(a.bank)
print(a.account_number)
print(a.account_cnt)
b = Account('wdwd',222)
print(b.name)
print(b.balance)
print(b.bank)
print(b.account_number)
print(b.account_cnt)

정지원
100
SC은행
873-65-147654
1
wdwd
222
SC은행
290-12-937275
2

In [24]:
#273.
import random

class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count +=1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)     # Account.account_count


kim = Account("김민수", 100)
lee = Account("이민수", 100)
kim.get_account_num()

2

In [25]:
#274.
import random

class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count +=1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)     # Account.account_count
    
    def deposit(self,money):
        if money>=1:
            self.balance += money


kim = Account("김민수", 100)
lee = Account("이민수", 100)
kim.get_account_num()

2

In [27]:
#275.
import random

class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count +=1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)     # Account.account_count
    
    def deposit(self,money):
        if money>=1:
            self.balance += money
    def withdraw(self,money):
        if self.balance > money:
            self.balance -= money

a = Account('jeong',100)
a.deposit(100)
a.withdraw(30)
print(a.balance)

170

In [1]:
#276.
import random

class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count +=1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)     # Account.account_count
    
    def deposit(self,money):
        if money>=1:
            self.balance += money
    def withdraw(self,money):
        if self.balance > money:
            self.balance -= money
    def display_info(self):
        print('은행이름: ',self.bank)
        print('예금주:',self.name)
        print('계좌번호:',self.account_number)
        print('잔고: ',self.balance)

        
        
a = Account('파이썬',100000)
a.display_info()

은행이름:  SC은행
예금주: 파이썬
계좌번호: 032-62-902280
잔고:  100000

In [3]:
#277.
import random

class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.deposit_count = 0
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count +=1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)     # Account.account_count
    
    def deposit(self,money):
        if money>=1:
            self.balance += money
            
            self.deposit_count +=1
            if self.deposit_count % 5 == 0:
                self.balance *= 1.01
    def withdraw(self,money):
        if self.balance > money:
            self.balance -= money
    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

        

    a = Account('파이썬',10000)
    a.deposit(10000)
    a.deposit(11111)
    print(a.balance)

31111

In [10]:
278.
import random

class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.deposit_count = 0
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count +=1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)     # Account.account_count
    
    def deposit(self,money):
        if money>=1:
            self.balance += money
            
            self.deposit_count +=1
            if self.deposit_count % 5 == 0:
                self.balance *= 1.01
    def withdraw(self,money):
        if self.balance > money:
            self.balance -= money
    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

a = Account('지원',1000000000)
b = Account('지투',100000)
c = Account('지쓰리',1000000005)
d = []
d.append(a)
d.append(b)
d.append(c)
print(d)

[<__main__.Account object at 0x106935f70>, <__main__.Account object at 0x10690aca0>, <__main__.Account object at 0x10690a040>]

In [11]:
#279.
for i in d:
    if i.balance >= 1000000:
        print(i.display_info())

은행이름:  SC은행
예금주:  지원
계좌번호:  152-99-145535
잔고:  1000000000
None
은행이름:  SC은행
예금주:  지쓰리
계좌번호:  026-63-540568
잔고:  1000000005
None

In [14]:
#280.
import random

class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.deposit_count = 0
        self.balance = balance
        self.bank = "SC은행"
        self.deposit_log = []
        self.withdraw_log = []

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count +=1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)     # Account.account_count
    
    def deposit(self,money):
        if money>=1:
            self.deposit_log.append(money)
            self.balance += money
            
            self.deposit_count +=1
            if self.deposit_count % 5 == 0:
                self.balance *= 1.01
    def withdraw(self,money):
        if self.balance > money:
            self.withdraw_log.append(money)
            self.balance -= money
    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)
    
    def withdraw_history(self):
        for i in self.withdraw_log:
            print(i)
    def deposit_history(self):
        for i in self.deposit_log:
            print(i)

a = Account('지원',1000)
a.deposit(100)
a.deposit(100)
a.deposit(300)
a.deposit_history()
a.withdraw(100)
a.withdraw(200)
a.withdraw_history()

100
100
300
100
200

In [2]:
#281.
class Car:
    def __init__(self,바퀴,가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

car = Car(2,1000)
car.바퀴

2

In [3]:
#282.
class 차:
    def __init__(self,바퀴,가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

class 자전차(차):
    pass

In [4]:
#283.
class 차:
    def __init__(self,바퀴,가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

class 자전차(차):
    def __init__(self,바퀴,가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

bicycle = 자전차(2,100)
print(bicycle.가격)

100

In [6]:
#284.
class 차:
    def __init__(self,바퀴,가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

class 자전차(차):
    def __init__(self,바퀴,가격,구동계):
        self.바퀴 = 바퀴
        self.가격 = 가격
        self.구동계 = 구동계

bicycle = 자전차(2,100,'시마노')
bicycle.구동계

'시마노'

In [7]:
#285.
class 차:
    def __init__(self,바퀴,가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

class 자전차(차):
    def __init__(self,바퀴,가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

class 자동차(차):
    def __init__(self,바퀴,가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
    def 정보(self):
        print('바퀴수',self.바퀴)
        print('가격',self.가격)

car = 자동차(4,1000)
car.정보()

바퀴수 4
가격 1000

In [9]:
#286.
class 차:
    def __init__(self,바퀴,가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
    def 정보(self):
        print('바퀴수',self.바퀴)
        print('가격',self.가격)

class 자전차(차):
    def __init__(self,바퀴,가격,구동계):
        super().__init__(바퀴,가격) # 부모클래스의 __init__ 메소드 호출
        self.구동계 = 구동계

class 자동차(차):
    def __init__(self,바퀴,가격):
        super().__init__(바퀴,가격) # 부모클래스의 __init__ 메소드 호출
        
bicycle = 자전차(2,100,'시마노')
bicycle.정보()

바퀴수 2
가격 100

In [10]:
#287.
class 차:
    def __init__(self,바퀴,가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
    def 정보(self):
        print('바퀴수',self.바퀴)
        print('가격',self.가격)

class 자전차(차):
    def __init__(self,바퀴,가격,구동계):
        super().__init__(바퀴,가격) # 부모클래스의 __init__ 메소드 호출
        self.구동계 = 구동계
    def 정보(self):
        super().정보()
        print('구동계',self.구동계)
        
class 자동차(차):
    def __init__(self,바퀴,가격):
        super().__init__(바퀴,가격) # 부모클래스의 __init__ 메소드 호출

bicycle = 자전차(2,100,'시마노')
bicycle.정보()

바퀴수 2
가격 100
구동계 시마노

In [14]:
#288.
class 부모:
    def 호출(self):
        print("부모호출")

class 자식(부모):
    def 호출(self):
#         super().호출()
        print("자식호출")
나 = 자식()
나.호출()

자식호출

In [16]:
#289.
class 부모:
    def __init__(self):
        print("부모생성")

class 자식(부모):
    def __init__(self):
        super().__init__()
        print("자식생성")
나 = 자식()

부모생성
자식생성

In [17]:
#290.
class 부모:
    def __init__(self):
        print("부모생성")

class 자식(부모):
    def __init__(self):
        print("자식생성")
        super().__init__()
나 = 자식()

자식생성
부모생성

In [11]:
#291.
f = open('/Users/jeongjiwon/python300/매수종목1.txt',mode='wt',encoding='utf-8')
f.write('005930\n')
f.write('005380\n')
f.write('035420\n')
f.close()

In [12]:
#292.
f = open('/Users/jeongjiwon/python300/매수종목2.txt',mode='wt',encoding='utf-8')

f.write('005930 삼성전자\n')
f.write('005380 현대차\n')
f.write('035420 NAVER\n')
f.close()

In [13]:
#293.
import csv

f = open('/Users/jeongjiwon/python300/매수종목1.csv',mode='wt',encoding='utf-8',newline='')

wr = csv.writer(f)
wr.writerow(['종목명','종목코드','PER'])
wr.writerow(['삼성전자','005930',15.59])
wr.writerow(['NAVER','035420',55.82])

f.close()

In [15]:
#294.
f = open('/Users/jeongjiwon/python300/매수종목1.txt', encoding='utf-8')

lines = f.readlines()
# readlines 함수는 파일의 모든 줄을 읽어서 각각의 줄을 요소로 갖는 리스트로 돌려준다. 
codes = []
for line in lines:
    code = line.strip()
    codes.append(code)

f.close()
print(codes)

['005930', '005380', '035420']

In [16]:
#295.
f = open('/Users/jeongjiwon/python300/매수종목2.txt',encoding='utf-8')

lines = f.readlines()
data = {}

for line in lines:
    line = line.strip()
    k, v = line.split()
    
    data[k] = v
print(data)
f.close()

{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}

In [18]:
#296.
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [19]:
#297.
per = ["10.31", "", "8.00"]

a = []

for i in per:
    try:
        b = float(i)
    except:
        b = 0
    a.append(b)
print(a)

[10.31, 0, 8.0]

In [20]:
#298.

try:
    b = 3 / 0
except ZeroDivisionError:
    print('0으로 나누면 안되요')
    
'''
try:
    예외가 발생할 가능성이 있는 코드
    
except:
    예외가 발생했을 때 실행할 코드
    ~~~~~~코드~~~~~~
'''

0으로 나누면 안되요

'\ntry:\n    예외가 발생할 가능성이 있는 코드\n    \nexcept:\n    예외가 발생했을 때 실행할 코드\n    ~~~~~~코드~~~~~~\n'

In [21]:
#299.

data = [1, 2, 3]
for i in range(5):
    try:
        print(data[i])
    except IndexError as e:
        print(e)

1
2
3
list index out of range
list index out of range

In [22]:
#300.
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)
    else: # else절은 예외가 발생하지 않아 except절을 실행하지 않았을 경우 실행되는 절
        print('clean data')
    finally: # finally 절은 tryp
        print('변환 완료')

10.31
clean data
변환 완료
0
변환 완료
8.0
clean data
변환 완료