In [2]:
#101
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [3]:
#102
print(3==5) # false

False

In [4]:
#103
print(3<5)

True

In [5]:
#104
x = 4
print(1<x<5)

True

In [6]:
#105
print((3==3) and (4!=3))

True

In [7]:
#106
print(3==>4)
# 지원하지 않는 연산자이다.

SyntaxError: invalid syntax (2723896933.py, line 2)

In [8]:
#107.
if 4<3:
    print('Hello World')
# 아무것도 출력을 안해야 정상이다.

In [9]:
#108.
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [10]:
#109.
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [11]:
#110.
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [1]:
#111.
a = input()
print(a+a)

안녕하세요
안녕하세요안녕하세요

In [2]:
#112.
a = input('숫자를 입력하세요:')
print(int(a)+10)

숫자를 입력하세요:30
40

In [3]:
#113.
a = int(input())
if a%2==0:
    print('짝수')
else:
    print('홀수')

30
짝수

In [5]:
#114.
a = int(input('입력값: '))
ans = a + 20
if ans>255:
    print(255)
else:
    print(ans)

입력값: 240
255

In [7]:
#115
a = int(input('입력값: '))
ans = a - 20
if ans>255:
    print(255)
elif ans <0:
    print(0)
else:
    print(ans)

입력값: 15
0

In [9]:
#116.
a = input('현재시간:')
b = a[-2:]
if b =='00':
    print('정각 입니다.')
else:
    print('정각이 아닙니다.')

현재시간:03:10
정각이 아닙니다.

In [11]:
#117
fruit = ['사과','포도','홍시']
a = input('좋아하는 과일은? ')
if a in fruit:
    print('정답입니다.')
else:
    print('오답입니다.')

좋아하는 과일은? 사과
정답입니다.

In [13]:
#118
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
a = input()
if a in warn_investment_list:
    print('투자 경고 종목입니다.')
else:
    print('투자 경고 종목이 아닙니다.')

Naver
투자 경고 종목입니다.

In [15]:
#119.
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
a= input('제가좋아하는계절은: ')
if a in fruit.keys():
    print('정답입니다.')
else:
    print('오답입니다.')

제가좋아하는계절은: 달
오답입니다.

In [16]:
#120.
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
a= input('좋아하는과일은? ')
if a in fruit.values():
    print('정답입니다.')
else:
    print('오답입니다.')

좋아하는과일은? 한라봉
오답입니다.

In [4]:
#121.
a = input()
if a.islower():
    print(a.upper())
else:
    print(a.lower())

B
b

In [5]:
#122
a = int(input('score: '))

if 81<=a<=100:
    print('grade is A')
elif 61<=a<=80:
    print('grade is B')
elif 41<=a<=60:
    print('grade is C')
elif 21<=a<=40:
    print('grade is D')
else:
    print('grade is E')

score: 83
grade is A

In [7]:
#123
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
a = input('입력: ')
money,danwi = a.split()
print(float(money)*환율[danwi],'원')

입력: 100 달러
116700.0 원

In [8]:
#124.
num1 = int(input("input number1: "))
num2 = int(input("input number2: "))
num3 = int(input("input number3: "))
a = [num1,num2,num3]
print(max(a))

input number1: 10
input number2: 9
input number3: 20
20

In [9]:
#125.
a = input("휴대전화 번호 입력: ").split('-')[0]
if a =='011':
    print('당신은 SKT 사용자입니다.')
elif a =='016':
    print('당신은 KT 사용자입니다.')
elif a =='019':
    print('당신은 LGU 사용자입니다.')
else:
    print('알수없음')

휴대전화 번호 입력: 010-5055-9603
알수없음

In [11]:
#126.
a = input('우편번호: ')[2]
if a =='0' or a=='1' or a=='2':
    print('강북구')
elif a =='3' or a=='4' or a=='5':
    print('도봉구')
else:
    print('노원구')

우편번호: 01900
노원구

In [14]:
#127.
a = input('주민등록번호: ').split('-')[1][0]
if a=='1' or a=='3':
    print('남자')
else:
    print('여자')

주민등록번호: 970310-1164410
남자

In [15]:
#128.
a = input('주민등록번호: ').split('-')[1][1:3]
if 0<=int(a)<=8:
    print('서울입니다.')
else:
    print('서울이 아닙니다.')

주민등록번호: 970310-1164410
서울이 아닙니다.

In [10]:
18+21+15+6+8+9+12+12+16+5
122%11
11-1

1

In [13]:
#129.
9703101164410
a = list(input('주민등록번호: '))
a.remove('-')
first_ans=int(a[0])*2 + int(a[1])*3 + int(a[2])*4 + int(a[3])*5 + int(a[4])*6 + int(a[5])*7 + int(a[6])*8 + int(a[7])*9 + int(a[8])*2+int(a[9])*3+int(a[10])*4+int(a[11])*5
second_ans = first_ans % 11
ans = 11 - second_ans
if str(ans)[-1]==a[-1]:
    print('유효한 주민등록번호입니다.')
else:
    print('유효하지 않은 주민등록번호입니다.')

주민등록번호: 970310-1164410
유효한 주민등록번호입니다.

In [16]:
#130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
# print(btc)
# 최고가-최저가 = 변동폭
# 시가 + 변동폭 > 최고가 --> 상승장 else 하락장

var = int(btc['max_price'])-int(btc['min_price'])
first = int(btc['opening_price'])
if first+var > int(btc['max_price']):
    print('상승장')
else:
    print('하락장')

상승장

In [17]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

In [18]:
#131
과일 = ['사과','귤','수박']
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [19]:
#132
과일 = ['사과','귤','수박']
for 변수 in 과일:
    print('#####')

#####
#####
#####

In [22]:
#133,134
print('A','B','C',sep='\n')

A
B
C

In [23]:
#135
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변환: a
변환: b
변환: c

In [24]:
#136
변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [26]:
#137
for i in [10,20,30]:
    print(i)

10
20
30

In [27]:
#138.
for i in [10,20,30]:
    print(i)
    print('------')

10
------
20
------
30
------

In [28]:
#139.
print("++++")
for i in [10,20,30]:
    print(i)

++++
10
20
30

In [29]:
#140.
for _ in range(4):
    print('-----')

-----
-----
-----
-----

In [1]:
#141.
a = [100, 200, 300]
for i in a:
    print(i+10)

110
210
310

In [3]:
#142.
a = ['김밥','라면','튀김']
for i in a:
    print('오늘의 메뉴:',i )

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [4]:
#143.
a = ['SK하이닉스','삼성전자','LG전자']
for i in a:
    print(len(i))

6
4
4

In [5]:
#144.
a = ['dog','cat','parrot']
for i in a:
    print(i,len(i),sep=' ')

dog 3
cat 3
parrot 6

In [6]:
#145.
a = ['dog','cat','parrot']
for i in a:
    print(i[0])

d
c
p

In [8]:
#146.
a = [1, 2, 3]
for i in a:
    print(3,'x', i)

3 x 1
3 x 2
3 x 3

In [9]:
#147.
a = [1, 2, 3]
for i in a:
    print(3,'x',i,'=',3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [10]:
#148.
a = ['가','나','다','라']
for i in a:
    if i =='가':
        continue
    else:
        print(i)

나
다
라

In [12]:
#149.
a = ['가','나','다','라']
a =a[0::2]
for i in a:
    print(i)

가
다

In [15]:
#150.
a = ["가", "나", "다", "라"]
a = a[::-1]
for i in a:
    print(i)

라
다
나
가

In [16]:
#151.
a = [3,-20,-3,44]
for i in a:
    if i<0:
        print(i)
    else:
        continue

-20
-3

In [17]:
#152.
a = [3,100,23,44]
for i in a:
    if i%3!=0:
        continue
    else:
        print(i)

3

In [18]:
#153.
a = [13,21,12,14,30,18]
for i in a:
    if i%3==0 and i<20:
        print(i)
    else:
        continue

12
18

In [19]:
#154.
a = ["I", "study", "python", "language", "!"]
for i in a:
    if len(i)>=3:
        print(i)
    else:
        continue

study
python
language

In [20]:
#155.
a = ['A','b','c','D']
for i in a:
    if i.islower():
        continue
    else:
        print(i)

A
D

In [26]:
#156.
a = ['A','b','c','D']
for i in a:
    if i.islower():
        print(i)
    else:
        continue

b
c

In [27]:
#157.
a = ['dog','cat','parrot']

for i in a:
    print(i[0].upper()+i[1:])

Dog
Cat
Parrot

In [36]:
#158.
a = ['hello.py', 'ex01.py', 'intro.hwp']
for i in a:
    ans = i.split('.')
    print(ans[0])

hello
ex01
intro

In [37]:
#159.
a = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in a:
    if i[-1] == 'h':
        print(i)
    else:
        continue

intra.h
define.h

In [39]:
#160.
a = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in a:
    if i[-1] == 'h' or i[-1]=='c':
        print(i)
    else:
        continue

intra.h
intra.c
define.h

In [1]:
#161.
for i in range(0,100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [2]:
#162.
for i in range(2002,2050,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046

In [3]:
#163.
for i in range(1,31):
    if i%3 == 0:
        print(i)
    else:
        continue

3
6
9
12
15
18
21
24
27
30

In [4]:
#164
for i in range(99,-1,-1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [8]:
#165
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [9]:
#166.
for i in range(1,10):
    print(3,'x',i,'=',3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [10]:
#167.
for i in range(1,10,2):
    print(3,'x',i,'=',3*i)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [12]:
#168.
s = 0
for i in range(11):
    s+=i
print(s)

55

In [13]:
#169.
s = 0
for i in range(1,11,2):
    s+=i
print(s)

25

In [15]:
#170.
s = 1
for i in range(1,11):
    s*=i
print(s)

3628800

In [1]:
#171.
price_list = [32100, 32150, 32000, 32500]
for i in price_list:
    print(i)

32100
32150
32000
32500

In [2]:
#172.
price_list = [32100, 32150, 32000, 32500]
for i,j in enumerate(price_list):
    print(i,j)

0 32100
1 32150
2 32000
3 32500

In [3]:
#173.
price_list = [32100, 32150, 32000, 32500]
for i,j in enumerate(price_list):
    print(3-i,j)

3 32100
2 32150
1 32000
0 32500

In [7]:
#174.
price_list = [32100, 32150, 32000, 32500]
for i in range(1,4):
    print(90+10*i,price_list[i])

100 32150
110 32000
120 32500

In [10]:
#175.
my_list = ['가', '나', '다', '라']
for i in range(len(my_list)-1):
    print(my_list[i],my_list[i+1])

가 나
나 다
다 라

In [20]:
#176.
my_list = ['가', '나', '다', '라']
for i in range( len(my_list) - 2 ):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라

In [11]:
#177.
my_list = ['가', '나', '다', '라']
for i in range(len(my_list)-1):
    print(my_list[len(my_list)-1-i],my_list[len(my_list)-2-i])

라 다
다 나
나 가

In [22]:
#178.
my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
    print(abs(my_list[i+1]-my_list[i]))

100
200
400

In [24]:
#179.
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(1,len(my_list)-1):
    print(abs(my_list[i-1] + my_list[i] + my_list[i+1]) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [26]:
#180.
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []
for i in range(len(low_prices)):
    volatility.append(high_prices[i]-low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [2]:
#181.
apart = [['101호','102호'],['201호','202호'],['301호','302호']]
apart

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [4]:
#182.
stock = [['시가',100,200,300],['종가',80,210,330]]
stock

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [6]:
#183.
stock = {'시가':[100,200,300], '종가':[80,210,330]}
stock

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [8]:
#184.
stock = {"10/10":[80,110,70,90],"10/11":[210,230,190,200]}
stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [9]:
#185.
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j,'호')

101 호
102 호
201 호
202 호
301 호
302 호

In [10]:
#186.
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for j in i:
        print(j,'호')

301 호
302 호
201 호
202 호
101 호
102 호

In [11]:
#187.
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for j in i[::-1]:
        print(j,'호')

302 호
301 호
202 호
201 호
102 호
101 호

In [12]:
#188.
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(j,'호')
        print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [13]:
#189.
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j,'호')
    print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [14]:
#190.
for i in apart:
    for j in i:
        print(j,'호')
        
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [2]:
#191.
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in data:
    for j in i:
        print(j*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [3]:
#192.
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in data:
    for j in i:
        print(j*1.00014)
    print('----')

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [3]:
#193.
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
a=[]
for i in data:
    for j in i:
        a.append(j*1.00014)
print(a)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [5]:
#194.
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
a=[]
for i in data:
    b = []
    for j in i:
        b.append(j*1.00014)
    a.append(b)
print(a)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [6]:
#195.
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    print(i[-1])

100
190
310

In [7]:
#196.
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[-1] <=150:
        continue
    else:
        print(i[-1])

190
310

In [9]:
#197.
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[0] > i[-1]:
        continue
    else:
        print(i[-1])

100
310

In [10]:
#198.
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for i in ohlc[1:]:
    diff = i[1]-i[2]
    volatility.append(diff)
print(volatility)

[40, 30, 10]

In [11]:
#199.
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100], 
        [200, 210, 180, 190], 
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[-1]>i[0]:
        print(i[1]-i[2])

10

In [14]:
#200.
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
profit = 0
for i in ohlc[1:]:
    profit += (i[3]-i[0])
print(profit)

0